@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pds474');
  src:  url('fonts/icomoon.eot?pds474#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pds474') format('truetype'),
    url('fonts/icomoon.woff?pds474') format('woff'),
    url('fonts/icomoon.svg?pds474#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e94b";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e94a";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
